<!DOCTYPE html>
<html lang=“en”>
<head>
  <meta charset=“utf-8">
  <title>Basic Map</title>
  <!-- Leaflet CSS -->
  <link rel=“stylesheet” href=“https://unpkg.com/leaflet@1.6.0/dist/leaflet.css”
    integrity=“sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==”
    crossorigin=“” />
  <!-- Leaflet JavaScript code -->
  <script src=“https://unpkg.com/leaflet@1.6.0/dist/leaflet.js”
    integrity=“sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==”
    crossorigin=“”></script>
    <!-- Anychart JavaScript code -->
    <script src=“https://cdn.anychart.com/releases/v8/js/anychart-base.min.js”></script>
    <script src=“https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js”></script>
    <script src=“https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js”></script>
    <script src=“https://cdn.anychart.com/releases/v8/themes/dark_earth.min.js”></script>
    <script src=“https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js”></script>
  <!-- Our CSS -->
  <!-- <link rel=“stylesheet” type=“text/css” href=“style.css”> -->
  <link rel=“stylesheet” type=“text/css” href=“{{url_for(‘static’, filename=‘static/css/style.css’)}}“>
</head>
<body>
  <!-- The div where we’ll insert our map -->
  <div id=“map”></div>
  <!-- JavaScript file -->
  <script type=“text/javascript” src=“{{url_for(‘static’, filename=‘js/chart.js’)}}“></script>
  <!-- JavaScript file -->
  <div id=“container”></div>
  <script src=“/static/js/chart.js”></script>
</body>
</html>